html
  head
    title Twenga crawler
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
        h1 Twenga crawler
        table.table.table-striped
            thead
                tr
                    td Title
                    td Price
                    td Stock
                    td Url
                    td Photo
            tbody
                each product in products
                    tr
                        td!= product.title
                        td!= product.price
                        td!=product.stock
                            if product.stock
                                span.label.label-success En Stock
                        td
                            a(href=product.url) Lien
                        td
                            img(src=product.photo)
        
        h2 Crawl Screenshot
        img(src='crawlresult.jpg', width='600')
